<div  style="position: fixed; top:2% !important; left: 4% !important;">
<a data-toggle="tooltip" data-placement="bottom" title="Contact me" class="btn btn-social-icon btn-openid"
   href="mailto:simone.salvo@outlook.com">
    <span class="fa fa-envelope"></span>
</a>
<a data-toggle="tooltip" data-placement="bottom" title="LinkedIn profile" class="btn btn-social-icon btn-linkedin"
   href="http://www.linkedin.com/in/simonesalvo" target="_blank">
    <span class="fa fa-linkedin"></span>
</a>
<a data-toggle="tooltip" data-placement="bottom" title="Code/projects repository" class="btn btn-social-icon btn-github"
   href="https://github.com/simonesalvo" target="_blank">
    <span class="fa fa-github"></span>
</a>
<a data-toggle="tooltip" data-placement="bottom" title="Youtube channel" class="btn btn-social-icon btn-pinterest"
   href="http://www.youtube.com/user/simonesalvo101" target="_blank">
    <span class="fa fa-youtube-play"></span>
</a>
<a  data-toggle="tooltip" data-placement="bottom" title="Business card"  class="btn btn-social-icon btn-adn"
   href="cv/vCard.vcf" target="_blank">
    <span class="fa fa-tag"></span>
</a>
</div>
<div style="position: fixed; top:2%" class="box rotate col-md-2 col-md-offset-10" >
    <img class="col-md-8" src="../images/SSITLOGO.png"/>
</div>
